:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --bgr-blue: #2f303a;
  --bgr-button: #f5f4fa;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
/* img {
    display: block;
    max-width: 100%;
    height: auto;
} */
/* 
================================================
Page-header 
=================================================
*/
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container-portfolio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: var(--card-shadow);
  }
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
  text-decoration: none;
}
.logo-web {
  color: var(--accent-color);
}
.header-logo {
  margin-right: 93px;
  padding: 24px 0;
}
.site .link {
  color: var(--primary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  text-decoration: none;
  padding: 32px 0;
}
.site .link:hover,
.site .link:focus {
  color: var(--accent-color);
}
.site .current {
  color: var(--accent-color);
}
.site {
  display: flex;
  margin: auto;
}
.contacts .link {
  color: var(--title-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
  padding: 32px 0;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
.contacts {
  display: flex;
}
.nav-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}
/* 
==========================================
Hero
============================================
 */
.hero {
  background-color: var(--bgr-blue);

  padding: 200px 0;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;

  width: 696px;
  margin-bottom: 30px;

  /* outline: 2px solid blue; */
}
.hero .button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;

  /* display: inline-block; */
  padding: 10px 32px;
  /* border-radius: 4px; */
  border-color: var(--accent-color);
  /* align-content: center; */
}
.hero .button:hover,
.hero .button:focus {
  color: var(--primary-white-color);
  background-color: #188ce8;
}
/* 
=============================================
Feature
=============================================
 */
.features {
  background-color: var(--primary-white-color);
}
.feature-list {
  list-style: none;
  display: flex;
  padding-left: 0;
}
.feature-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  /* outline: 2px solid blue; */

  padding-bottom: 10px;
}
.feature-list .text {
  color: var(--title-text-color);
  line-height: 1.7;

  /* outline: 2px solid blue; */
}
.feature-item {
  flex-basis: calc((100% - 3 * 30px) / 4);
  margin-right: 30px;
}
.feature-item:nth-child(4) {
  margin-right: -30px;
}
/* 
=====================================
 Specification
 ===================================
 */
.specification {
  padding-bottom: 94px;
}
.specification .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  /* outline: 2px solid blue; */

  margin-bottom: 50px;
}
.specification-list {
  display: flex;
  padding-left: 0;
}
.specification-item {
  flex-basis: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
}
/*
==================================
 Team
===================================
 */
.team {
  background-color: var(--bgr-button);
}
.team {
  list-style: none;
}
.team .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
}
.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  /* margin: 30px 0 10px 0; */

  /* outline: 2px solid blue; */
}
.team .text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 10px;

  /* margin-bottom: 30px; */

  /* outline: 2px solid blue; */
}
.team-list {
  display: flex;
  padding-left: 0;
}
.team-item {
  flex-basis: calc((100% - 3 * 30px) / 4);
  margin-right: 30px;
  box-shadow: var(--card-shadow);
}
.card-text {
    padding: 30px 61px;
}

/* 
============================================
Footer
============================================
 */
.footer-page {
  background-color: var(--bgr-blue);
}
.logo-footer {
  color: var(--primary-white-color);
}
.contacts-footer {
  line-height: 1.7;
  font-style: normal;
}
.contacts-footer .address {
  color: var(--primary-white-color);
  text-decoration: none;
}
.contacts-footer .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.contacts-footer .address:hover,
.contacts-footer .address:focus {
  color: var(--accent-color);
}
.contacts-footer .link:hover,
.contacts-footer .link:focus {
  color: var(--accent-color);
}
.footer-page {
  padding: 60px 0;
}
.contacts-footer {
  margin-top: 20px;
  padding-left: 0;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
/*
=============================================
portfolio
==============================================
 */
/*
 ===========================================
  btn
 ==================================
  */
.filter {
  list-style: none;

  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding-left: 0;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-button {
  border-color: var(--bgr-button);
  padding: 6px 22px;
}
.button {
  color: var(--primary-text-color);
  background-color: var(--bgr-button);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  font-family: inherit;
  cursor: pointer;

  border-radius: 4px;
}
.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
/* 
=============================================
work
==========================================
 */
.link {
  text-decoration: none;
  list-style: none;
}
.list {
  list-style: none;
}
.work-list .title {
  color: var(--primary-text-color);
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 18px;
  line-height: 2;

  /* outline: 2px solid blue; */

  padding-bottom: 4px;
}
.work-list .text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.87;

  /* margin-bottom: 20px; */
  /* outline: 2px solid blue; */
}
.card-content {
  padding: 20px 24px;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.work-list > .work-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  box-shadow: var(--card-shadow);
}
.work-list:nth-child(3n) {
  margin-right: -30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* reset end */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  /* outline: 2px solid tomato; */
}
